<!DOCTYPE html>
<html>
<head>
    <title>Calcular Ahorro</title>
</head>
<body>
    <h2>Calcular ahorro</h2>
    <form action="/ahorro" method="get">
        <label>ID Usuario:</label>
        <input type="number" name="id_usuario"><br><br>

        <label>Meta ($):</label>
        <input type="number" name="meta" ><br><br>

        <label>Plazo (meses):</label>
        <input type="number" name="plazo"><br><br>

        <label>Interés anual (%):</label>
        <input type="number" name="interes"><br><br>

        <label>Abono extra ($):</label>
        <input type="number" name="abono"><br><br>

        <button type="submit">Calcular</button>
    </form>

    <a href="/">Volver al menú</a>
</body>
</html>
