<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/calcular_ahorros">
    <div >
        meta <input type="number" name="meta">
    </div>
    <div >
        plazo <input type="number" name="plazo">
    </div>
    <div >
        interes <input type="number" name="interes">
    </div>
    <div >
        abono <input type="number" name="abono">
    </div>

    <button type="submit"> calcular </button>
    
    </form>
</body>
</html>